body {
  font-family: "Arial", sans-serif;
  margin: 0;
  background-color: #f7f7f7;
  direction: rtl;
}

header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.product-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 15px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  border-radius: 5px;
  height: 180px;
  object-fit: contain;
}

.product-card h3 {
  margin: 10px 0 5px;
}

.product-card p.price {
  font-weight: bold;
  color: #28a745;
  margin: 5px 0 15px;
}

.product-card button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.product-card button:hover {
  background-color: #adcadd;
}
#cart-count {
  color: white;
  font-weight: bold;
  margin-top: 5px;
}
footer {
  background-color: #222;
  padding: 20px 0;
  text-align: center;
}

.top-social-icons {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px 12px;
  border-radius: 8px;
  z-index: 9999;
}

.top-social-icons img {
  width: 24px;
  height: 24px;
  filter: invert(1); /* يخليها بيضاء */
  transition: transform 0.3s;
}

.top-social-icons a:hover img {
  transform: scale(1.2);
}

.navbar {
  background-color: #e0f1ce;
  padding: 10px 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #00bcd4;
}
footer {
  background-color: #251818;
  color: #fff;
  padding: 20px 0;
  text-align: center; /* ← دي أهم واحدة */
  font-size: 14px;
  direction: rtl; /* لو الموقع كله باللغة العربية */
}
